<div class="backround">
  <mat-card>
    <mat-card-content>
      <table>
        <tr>
          <th>
          <app-user></app-user>
          </th>
          <th>
            <app-users-in-room></app-users-in-room>
          </th>
        </tr>
        <tr>
          <th style="vertical-align:top">
            <app-rooms></app-rooms>
          </th>
          <th id="messages">
            <app-messages></app-messages>
          </th>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
