<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>account_circle</mat-icon>
      <span> &nbsp; {{currentUser.userName}}</span>

      <button mat-icon-button [matMenuTriggerFor]="menu" id="menutoright"
              aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="changeUserNameButtonClicked()" >
          <mat-icon>assignment_ind</mat-icon>
          <span>Change your username</span>
        </button>
        <button mat-menu-item (click)="logoutButtonClicked()">
          <mat-icon>no_meeting_room</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
