<div class="container">
  <mat-list>
    <mat-list-item *ngFor=" let chatMessage of chatMessages ">
      <div class="{{chatMessage.label}}">
        {{chatMessage.content}}
        <br>
        <span class="time{{chatMessage.label}}">{{chatMessage.date}}</span>
      </div>

    </mat-list-item>
{{getMessagesforCurrentRoom()}}


  </mat-list>
  Your Username: {{currentUser.userName}}
  <br>
  Current Room: {{getCurrentRoomName()}}

  <form (ngSubmit)=" onSubmit($event)
  " #messageForm="ngForm">


    <div class="form-group">
      <table>

        <tr>
          <th>
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" matInput id="message" required [(ngModel)]="textInput"
                     name="message" #name="ngModel"
                     placeholder="Enter text here">
            </mat-form-field>
          </th>
          <th>
            <button type="submit" mat-raised-button color="primary" name="Send"
                    [disabled]="!messageForm.form.valid">
              Send Message
            </button>
          </th>
        </tr>

      </table>
    </div>
  </form>
</div>
