
.myChatMessage {
   background-color: green;
   text-align: right;
  align-self: flex-end;
  border-left: 200px solid white;

 }

 .notMyChatMessage {
   background-color: aquamarine;
   text-align: left;
 }



