
.myChatMessageComment {
  background-color: green;
  text-align: right;
  align-self: flex-end;
  border-left: 200px solid white;

}

.myChatMessage {
  background-color: lightgreen;
  align-items: end;
  margin: 0px 0px 0px auto;
  box-sizing: border-box;
  padding: 5px 5px 5px 10px ;
  border-radius: 5px 5px 5px 30px;
}


.timemyChatMessage {
  font-size: 12px;
  color: #999;
  float: right;
}

.timenotMyChatMessage {
  font-size: 12px;
  color: #999;
}


.notMyChatMessage {
  background-color: aquamarine;
  text-align: left;
  padding: 5px;
  border-radius: 5px 5px 30px 5px;
}

.systemMessage {
  margin:  20px auto 20px ;
  background-color: gray;
  font-size: 12px;
  padding: 2px 5px 2px 5px ;
  color: black;
  border-radius: 5px 5px 5px 5px;
}
.timesystemMessage {
  font-size: 10px;
  color: black;
}


