<form #DialogForm="ngForm">


  <mat-list>
    <mat-list-item>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          Change Password
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-list-item>
    <mat-list-item>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input type="password" matInput required [(ngModel)]="oldPassword" name="oldPassword"
               #name="ngModel">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input type="password" matInput required [(ngModel)]="newPassword" name="newPassword"
               #name="ngModel">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button mat-dialog-close color="primary" name="changePassword"
              id="changePasswordButton"
              (click)="changePasswordButtonClicked()"
              [disabled]="!DialogForm.form.valid ">
        Change Password
      </button>
      <button mat-raised-button mat-dialog-close color="primary" name="cancel" id="cancleButton"
      >
        Cancel
      </button>
    </mat-list-item>
  </mat-list>
</form>
