<div class="container">
  <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
    <h1>Login Form</h1>
    <mat-form-field appearance="fill">
      <mat-label>Mail </mat-label>
      <input  type="email" matInput id="mail" required email [(ngModel)]="model.email"
             name="mail"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Mail is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput id="password" required
             [(ngModel)]="model.password" name="password"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Password is required
      </div>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" name="Login"
            [disabled]="!loginForm.form.valid || loggedIn">
      Login
    </button>
    <button type="submit" mat-raised-button color="primary" name="Logout" [disabled]="!loggedIn">Logout</button>


  </form>
</div>


